Netbeans/javalibtest/xml-resources/web-service-references/WS/wsdl/jrpg.iensenfirippu.dk_8080/StalkrTest/WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jrpg.easj/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://jrpg.easj/" name="WS">
<types>
<xsd:schema>
<xsd:import namespace="http://jrpg.easj/" schemaLocation="http://jrpg.iensenfirippu.dk:8080/StalkrTest/WS?xsd=1"/>
</xsd:schema>
</types>
<message name="getMatches">
<part name="parameters" element="tns:getMatches"/>
</message>
<message name="getMatchesResponse">
<part name="parameters" element="tns:getMatchesResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="verifyLogin">
<part name="parameters" element="tns:verifyLogin"/>
</message>
<message name="verifyLoginResponse">
<part name="parameters" element="tns:verifyLoginResponse"/>
</message>
<message name="saveUser">
<part name="parameters" element="tns:saveUser"/>
</message>
<message name="saveUserResponse">
<part name="parameters" element="tns:saveUserResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<portType name="Stalkr_WebService">
<operation name="getMatches">
<input wsam:Action="http://jrpg.easj/Stalkr_WebService/getMatchesRequest" message="tns:getMatches"/>
<output wsam:Action="http://jrpg.easj/Stalkr_WebService/getMatchesResponse" message="tns:getMatchesResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://jrpg.easj/Stalkr_WebService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://jrpg.easj/Stalkr_WebService/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="verifyLogin">
<input wsam:Action="http://jrpg.easj/Stalkr_WebService/verifyLoginRequest" message="tns:verifyLogin"/>
<output wsam:Action="http://jrpg.easj/Stalkr_WebService/verifyLoginResponse" message="tns:verifyLoginResponse"/>
</operation>
<operation name="saveUser">
<input wsam:Action="http://jrpg.easj/Stalkr_WebService/saveUserRequest" message="tns:saveUser"/>
<output wsam:Action="http://jrpg.easj/Stalkr_WebService/saveUserResponse" message="tns:saveUserResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://jrpg.easj/Stalkr_WebService/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://jrpg.easj/Stalkr_WebService/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://jrpg.easj/Stalkr_WebService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://jrpg.easj/Stalkr_WebService/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
</portType>
<binding name="Stalkr_WebServicePortBinding" type="tns:Stalkr_WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMatches">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verifyLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS">
<port name="Stalkr_WebServicePort" binding="tns:Stalkr_WebServicePortBinding">
<soap:address location="http://jrpg.iensenfirippu.dk:8080/StalkrTest/WS"/>
</port>
</service>
</definitions>