Visual Studio/StalkrAdminTool/StalkrAdminTool/Web References/dk.iensenfirippu.jrpg/WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://jrpg.easj/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WS" targetNamespace="http://jrpg.easj/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://jrpg.iensenfirippu.dk:8080/Stalkr/WS?xsd=1" namespace="http://jrpg.easj/" />
    </xsd:schema>
  </types>
  <message name="getUsers">
    <part name="parameters" element="tns:getUsers" />
  </message>
  <message name="getUsersResponse">
    <part name="parameters" element="tns:getUsersResponse" />
  </message>
  <message name="getUser">
    <part name="parameters" element="tns:getUser" />
  </message>
  <message name="getUserResponse">
    <part name="parameters" element="tns:getUserResponse" />
  </message>
  <message name="verifyLogin">
    <part name="parameters" element="tns:verifyLogin" />
  </message>
  <message name="verifyLoginResponse">
    <part name="parameters" element="tns:verifyLoginResponse" />
  </message>
  <message name="saveUser">
    <part name="parameters" element="tns:saveUser" />
  </message>
  <message name="saveUserResponse">
    <part name="parameters" element="tns:saveUserResponse" />
  </message>
  <message name="deleteUser">
    <part name="parameters" element="tns:deleteUser" />
  </message>
  <message name="deleteUserResponse">
    <part name="parameters" element="tns:deleteUserResponse" />
  </message>
  <message name="getMatches">
    <part name="parameters" element="tns:getMatches" />
  </message>
  <message name="getMatchesResponse">
    <part name="parameters" element="tns:getMatchesResponse" />
  </message>
  <message name="loginAdmin">
    <part name="parameters" element="tns:loginAdmin" />
  </message>
  <message name="loginAdminResponse">
    <part name="parameters" element="tns:loginAdminResponse" />
  </message>
  <portType name="Stalkr_WebService">
    <operation name="getUsers">
      <input wsam:Action="http://jrpg.easj/Stalkr_WebService/getUsersRequest" message="tns:getUsers" />
      <output wsam:Action="http://jrpg.easj/Stalkr_WebService/getUsersResponse" message="tns:getUsersResponse" />
    </operation>
    <operation name="getUser">
      <input wsam:Action="http://jrpg.easj/Stalkr_WebService/getUserRequest" message="tns:getUser" />
      <output wsam:Action="http://jrpg.easj/Stalkr_WebService/getUserResponse" message="tns:getUserResponse" />
    </operation>
    <operation name="verifyLogin">
      <input wsam:Action="http://jrpg.easj/Stalkr_WebService/verifyLoginRequest" message="tns:verifyLogin" />
      <output wsam:Action="http://jrpg.easj/Stalkr_WebService/verifyLoginResponse" message="tns:verifyLoginResponse" />
    </operation>
    <operation name="saveUser">
      <input wsam:Action="http://jrpg.easj/Stalkr_WebService/saveUserRequest" message="tns:saveUser" />
      <output wsam:Action="http://jrpg.easj/Stalkr_WebService/saveUserResponse" message="tns:saveUserResponse" />
    </operation>
    <operation name="deleteUser">
      <input wsam:Action="http://jrpg.easj/Stalkr_WebService/deleteUserRequest" message="tns:deleteUser" />
      <output wsam:Action="http://jrpg.easj/Stalkr_WebService/deleteUserResponse" message="tns:deleteUserResponse" />
    </operation>
    <operation name="getMatches">
      <input wsam:Action="http://jrpg.easj/Stalkr_WebService/getMatchesRequest" message="tns:getMatches" />
      <output wsam:Action="http://jrpg.easj/Stalkr_WebService/getMatchesResponse" message="tns:getMatchesResponse" />
    </operation>
    <operation name="loginAdmin">
      <input wsam:Action="http://jrpg.easj/Stalkr_WebService/loginAdminRequest" message="tns:loginAdmin" />
      <output wsam:Action="http://jrpg.easj/Stalkr_WebService/loginAdminResponse" message="tns:loginAdminResponse" />
    </operation>
  </portType>
  <binding name="Stalkr_WebServicePortBinding" type="tns:Stalkr_WebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getUsers">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verifyLogin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="saveUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deleteUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getMatches">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="loginAdmin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WS">
    <port name="Stalkr_WebServicePort" binding="tns:Stalkr_WebServicePortBinding">
      <soap:address location="http://jrpg.iensenfirippu.dk:8080/Stalkr/WS" />
    </port>
  </service>
</definitions>